.menuknoppen {
    color: #86A789;
    text-decoration: none;
    }
    li{
    display: inline-block;
    height: 15px;
    width: 70px;
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #86A789;
    border-top:2px black;
    border-right:2px black;
    border-bottom:2px black;
    border-left:2px black;
    }
    li:hover{
    background-color: lightblue;
    border-style: none;
    }
#Index {
    background-color: #B2C8BA;
    padding: 5px;
    Margin-left:200px;
    margin-right:200px;
}

#CV {
    background-color: #B2C8BA;
    padding: 5px;
    Margin-left:200px;
    margin-right:200px;
}
#mijncv {
    background-color: #EBF3E8;
    padding: 5px;
    Margin-left:200px;
    margin-right:200px;
}
#contact {
    background-color: #B2C8BA;
    padding: 5px;
    Margin-left:200px;
    margin-right:200px;
    
}
#contactformulier {
    background-color: #EBF3E8;
    padding: 5px;
    Margin-left:200px;
    margin-right:200px;
}
#mezelf {
    background-color: #D2E3C8;
    Margin-left:200px;
    margin-right:200px;
}
footer {
padding: 5px
}
header {
padding: 5px
}
